@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,100&display=swap');

/* Hover specials */
.mtk8,
.mtk9,
.mtk3,
.mtk6,
.mtk7,
.mtk10 {
	display: inline-block;
	transition: 0.1s transform;
}

.mtk8:hover,
.mtk9:hover,
.mtk3:hover,
.mtk6:hover,
.mtk7:hover,
.mtk10:hover {
	text-shadow: 2 2 15px;
	transform: scale(1.05);
}

/* Tooltips */
.monaco-editor .monaco-hover {
	background-color: #262335;
	display: block !important;
	padding: 20px;
	transition: opacity 1s !important;
	opacity: 1;
	animation: tooltippulse 4s infinite linear;
}

.monaco-editor .monaco-hover.hidden {
	opacity: 0;
}

.monaco-editor .monaco-hover::after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	height: 4px;
	background-size: 200% 200%;
	width: 100%;
	background-image: linear-gradient(to right, #fc28a8, #03edf9, #fc28a8, #03edf9, #fc28a8);
	animation: neonline 2s infinite;
}

.monaco-editor .selected-text {
	background-color: #ff008d55 !important;
	box-shadow: 0 0 35px 5px #ff008d55;
	color: #fff !important;
}

.monaco-editor .cursor {
	box-shadow: 0 0 15px 2px #00c3ff;
	animation: cursor 1s infinite ease-in-out;
}

.editor-group-container:after {
	animation: flight 2s infinite linear;
}

.view-line .inline-folded:after {
	color: yellow;
	border-radius: 5px;
	animation: colapse 2s linear;
}

.monaco-editor .line-numbers.active-line-number {
	color: turquoise;
	text-shadow: 0 0 1px yellow !important;
}

.monaco-editor .minimap-shadow-visible {
	box-shadow: none !important;
}

.monaco-list {
	background: rgba(12, 14, 20);
	animation: pulse-background-grayish 1s linear 1;
}

/* Start screen tooltips */
.watermark-box dl dt {
	text-align: center;
	background: linear-gradient(to right, #fc28a8, #03edf9, #03edf9, #fc28a8);
	background-size: 200% auto;
	color: #000;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 1s linear infinite;
}

/* Start screen keys */
dd .monaco-keybinding .monaco-keybinding-key {
	color: #03edf9;
	animation: pulse 1s linear infinite;
}

@keyframes neonline {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

@keyframes tooltippulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 0, 242, 0);
	}
	50% {
		box-shadow: 0 0 85px 0 rgba(0, 217, 255, 0.5);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 0, 242, 0);
	}
}

@keyframes colapse {
	0% {
		background-color: yellow;
		box-shadow: 0 0 5px 0 yellow;
	}
	70% {
		background-color: yellow;
		box-shadow: 0 0 35px 10px yellow;
	}
	100% {
		background-color: transparent;
	}
}

@keyframes cursor {
	0% {  
        box-shadow: 0 0 5px 0 #00c3ff;      
    }
    50% {
        box-shadow: 0 0 35px 5px #00c3ff;
    }
    100% {
        box-shadow: 0 0 5px 0 #00c3ff;
    }
}

@keyframes flight {
	0% {
		transform: perspective(100px) rotateX(60deg) translateY(0px);
	}
	100% {
		transform: perspective(100px) rotateX(60deg) translateY(20px);
	}
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes shine {
		to {
			background-position: -200% center;
		}
	}
	@keyframes pulse {
		0% {
			color: #03edf9;
		}
		50% {
			color: #fc28a8;
		}
		100% {
			color: #03edf9;
		}
	}
	@keyframes pulse-background-grayish {
		0% {
			background: rgba(12, 14, 20);
		}
		50% {
			background: rgba(22, 14, 30);
		}
		100% {
			background: rgba(12, 14, 20);
		}
	}
}
