.mtk3,
.mtk6 {
	color: #61e2ff;
	text-shadow: 0 0 2px #001716, 0 0 5px #03edf933, 0 0 10px #ffff6633;
}

.mtk3.mtki {
	font-style: italic;
	color: #9963ff99;
}

.mtk4,
.mtk5,
.mtk11,
.mtk14 {
	color: #9963ff;
}

.mtk8,
.mtk9 {
	color: #ffcc00;
	text-shadow: 0 0 2px #100c0f, 0 0 3px #ffaa0099, 0 0 5px #ffaa0099, 0 0 10px #ffaa0099;
	font-style: italic;
}

.mtk7,
.mtk10 {
	color: #fc199a;
	text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 10px #fc199a, 0 0 2px #fc199a;
}

.mtk10 {
	font-style: italic;
}

.monaco-editor .margin,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
	background: transparent;
}

.monaco-workbench .part.editor > .content.empty .editor-group-container.empty > .editor-group-letterpress {
	background-size: 400px 400px;
	background-repeat: no-repeat;
	height: 100%;
}

.monaco-workbench .part.editor > .content .editor-group-container.empty > .editor-group-letterpress {
	display: block;
	margin: auto;
	width: 100%;
	height: calc(100% - 70px);
	max-width: 400px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 70% 70%;
}

/* Add the subtle gradient to the editor background */
.editor .content,
.monaco-editor {
	background-color: transparent !important;
	background-image: linear-gradient(to bottom, #000000 65%, #3d0b43);
	background-position: top;
	background-repeat: no-repeat;
	position: relative;
}


.editor-container {
	position: relative;
	overflow: hidden;
}

.editor-group-container:after {
	content: '';
	height: 300px;
	width: 100%;
	display: block;
	background-image: linear-gradient(90deg, rgba(252, 25, 154, 0.1) 1px, rgba(0, 0, 0, 0) 1px),
		linear-gradient(0deg, rgba(252, 25, 154, 0.1) 1px, rgba(0, 0, 0, 0) 1px);
	background-position: bottom;
	background-repeat: repeat;
	background-size: 20px 20px;
	left: -25px;
	position: absolute;
	pointer-events: none;
	bottom: 0;
	transform: perspective(100px) rotateX(60deg);
	z-index: 0;
}
.editor-group-container {
	position: relative;
	overflow: hidden;
}

.monaco-editor:before,
.editor-group-container:before {
	background-image: repeating-linear-gradient(to bottom, transparent 0, transparent 2px, #fff 2px, #fff 4px);
	background-size: 100% 4px cover;
	transform-origin: 50% 50%;
	content: '';
	opacity: 0.02;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

canvas {
	z-index: 2;
}

.minimap-slider {
	z-index: 3;
	background: #8400de33 !important;
}

.minimap.slider-mouseover {
	z-index: 1;
}

/* Sweet sunset dots */
.monaco-workbench .activitybar > .content .monaco-action-bar .badge .badge-content {
	background: linear-gradient(to bottom, #fff951 25%, #fc28a8);
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit::after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	height: 0px;
	transition: opacity 1s;
	opacity: 0;
}

/* Active sidebar item */
.monaco-workbench .activitybar > .content .monaco-action-bar .action-item.checked {
	box-shadow: inset 0 -5px 25px #fc28a825;
	position: relative;
}

.monaco-workbench .activitybar > .content .monaco-action-bar .action-item.checked::after {
	content: '';
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	width: 4px;
	background: linear-gradient(to bottom, #fc28a8, #03edf9) !important;
	opacity: 1;
}

.monaco-workbench .activitybar > .content .monaco-action-bar .action-item::after {
	content: '';
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	width: 0px;
	transition: opacity 1s;
	opacity: 0;
}

/* Active tab neon */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.active {
	position: relative;
	--tab-border-bottom-color: black !important;
}

/* Active tab stripe */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.active::before {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	right: 0;
	height: 4px;
	background: linear-gradient(to right, #fc28a8, #fff951, #fff951, #fc28a8) !important;
}

.monaco-editor .cursor {
	background: linear-gradient(to bottom, #8a2dc0, #fc28a8);
	box-shadow: 0 0 5px #fc199a;
	border-color: #8a2dc0;
	color: #241b2f;
}

.monaco-inputbox > .wrapper > textarea.input::selection {
	background-color: rgba(255, 255, 255, 0.3);
}

.monaco-editor .line-numbers {
	color: #8a2dc066;
	text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 10px #8a2dc066, 0 0 2px #8a2dc066;
}

.monaco-list .monaco-list-rows {
	background: rgba(12, 14, 20) !important;
}

.monaco-list-row.focused,
.monaco-list-row.selected {
	background-color: #8a2dc033 !important;
}

.explorer-folders-view span[title~='emphasized'],
.monaco-icon-label[title~='emphasized']::after {
	color: #fc199a;
}

.explorer-folders-view span[title~='problems'],
.monaco-icon-label[title~='problems']::after {
	color: #ffcc00;
}

.vs-dark .monaco-scrollable-element > .scrollbar > .slider {
	background: rgb(153, 99, 255);
	opacity: 0.5;
}

/* Grey background on non-editor items */
.sidebar,
.pane-header,
.activitybar,
.statusbar,
.tabs {
	background: rgba(12, 14, 20) !important;
}

/* Tab bar bottom border */
.monaco-workbench .part.editor > .content .editor-group-container > .title > .tabs-and-actions-container {
	display: flex;
	position: relative;
	--tabs-border-bottom-color: #ae81ff75 !important;
}

/* Tab bar bottom border */
.monaco-workbench .part.editor > .content .editor-group-container > .title > .tabs-and-actions-container.tabs-border-bottom:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9;
	pointer-events: none;
	background-color: var(--tabs-border-bottom-color);
	width: 100%;
	height: 0.5px;
}

.codicon-view-pane-container-collapsed:before {
    color: #fc28a8;
}

.codicon-view-pane-container-expanded:before {
	color: #03edf9;
}

.monaco-list .monaco-list-rows {
	background: transparent !important;
}